<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="root">
        <div class="user" v-if="userFound">
            <img :src="gravatar" :alt="altString">
            <h2><a :href="profilePage">@{{ user }}</a></h2>
            <div class="badges">
                {{ badges }} Badges earned
            </div>
            <div class="javascript-points">
                {{ javascriptPoints }} JavaScript points
            </div>
            <div>
                <button @click="reset">Search Again</button>
            </div>
        </div>
        <div v-else>
            <img src="http://i.imgur.com/VKKm0pn.png" alt="Magnifying glass">
            <span class="error" v-show="error">{{ error }}</span>
            <input type="text" autofocus v-model="username" @keyup.enter="searchForUser" required>
            <button @click="searchForUser">{{ searchText }}</button>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>